*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* HOME.CSS */
.home-container {
    width: 100%;
    height: 100vh;
    background-image: url(../IMAGES/bg\ web_waifu2x_photo_noise2_scale.png);
    background-size: cover;
    background-position: center;
}

.navbar {
    margin: auto;
    background: #C5C7BC;
    justify-content: space-between;
    text-align: center;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.navbar ul li {
    width: 160px;
    margin: 10px;
}

.navbar ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.navbar ul li:hover {
    background: #DEDED1;
    border-radius: 10px;
}

.home-logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 160px;
    text-decoration: none;
    color: white;
    width: 250px;
}

.home-content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.home-content h1 {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size:70px;
}

.home-button {
    width: 150px;
    border-radius: 10px;
    background-color: #C5C7BC;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
}

.home-button:hover {
    width: 150px;
    border-radius: 10px;
    background-color: #DEDED1;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

/* LOGIN.CSS */
.login-container {
    width: 50%;
    height: 85vh;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 287px;
    margin-left: 287px;
    background: transparent;  
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.login-container h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    font-size: 20px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.register-link {
    text-align: center;
    font-size: 14 px;
    margin:  20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* ABOUT.CSS */
.about-container {
    width: 50%;
    height: 85vh;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 322px;
    margin-right: 322px;
    background: transparent;  
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.about-content {
    width: 100%;
    height: 85vh;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    border-radius: 10px;
    box-shadow:  0 0 10px rgba(0, 0, 0, .2);
    transition:opacity 0.3s;
}

.about-content:hover {
    opacity: 1;
    cursor: pointer;
}

.about-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 16px;
    color: white;
    padding: 10px;
}


/* MENU.CSS */
.menu-container {
    width: 100%;
    height: 90vh;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
}

.menu-item {
    position: relative;
    width: 262x;
    height: 120px;
}

.menu-item img {
    width: 262px;
    height: 120px;
    border-radius: 10px;
}

.menu-description {
    width: 262px;
    height: 120px;
    top: 0;
    left: 0;
    position: absolute;
    background: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transition:opacity 0.3s;
}

.menu-description:hover {
    opacity: 1;
    cursor: pointer;
}

.menu-description h3 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

.menu-description p {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 2px;
}
